@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

* {
    background-color: black;
    font-size:1em;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}
#myData {
    position: absolute;
    height: fit-content;
    margin: auto;
    max-width: 1000px;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    margin: 10px 25px  10px 25px;
    height: auto;
    align: center;
    text-align: center;
    border: 3px solid blue;
    border-radius: 10px;
    color: white;
}
h4 {
margin: 3rem;
    color: yellow;
    animation: slide-in-anim 7s ease-out forwards;
    font-size: 1.5rem;
    transition: 300ms;
}
h4:hover {
    color: white;
}
@keyframes slide-in-anim {
	20% {
		opacity: 0;
	}
	25% {
		transform: translateX(-50%);
	}
    75% {
		transform: translateX(90%);
	}
	100% {
		opacity: 1;
		transform: translateX(0%);
	}
    150% {
		opacity: 1;
		transform: translateX(100%);
	}

}
div h1 {
    color: green;
    padding: 0px 30px 0px 30px;
}
a {
    transition: 500ms;
    background-color: transparent;
}
h1 {
    margin: 0.4rem;
}
a:link {
      color: green;
      background-color: transparent;
      text-decoration: none;
}
a:hover {
    color:white;
}
.aaslkdmckls {
    padding: .4rem;
    font-size:1rem; 
}
.footer {
    color: white;
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    text-align: center;

}