
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');


* {
    background-color: black;
    font-size:1em;
    font-family: 'Oswald', sans-serif;
}
#myData {
    position: absolute;
    height: fit-content;
    margin: auto;
    max-width: 1000px;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    margin: 10px 25px  10px 25px;
    height: auto;
    align: center;
    text-align: center;
    border: 3px solid blue;
    border-radius: 20px;
    background-color: black;
    color: white;
}
div {
    padding: 1rem;
}
div h1 {
    color: green;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
    
}
a:visited {
  color: green;
}
/*e0 {
    font-size: 5rem;
    color: black;
}
e1 {
    font-size: 2rem;
    color:white;
}
e2 {
    font-size: 10rem;
    color: orange;
}*/